obj
bin
*.chm
_[Rr]e[Ss]harper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
**/*.DotSettings.*
src/**/*.sln.DotSettings
obj/**/*
Data/**/*
*.dll
*.test.html
*.FileListAbsolute.txt
!libs/*.dll
src/OctopusNotifier/packages/**/*